<div class="text-center">
    <div class="card-footer">
        <p><i class="far fa-comments"></i>コメント<%= @post.comments.count %>件</p>

            <!--コメント-->

            <% @post.comments.each do |comment| %>
                <!--ユーザー名と画像を表示-->
                <div class="comment_user">
                <% if comment.user.image? %>
                <%= link_to image_tag("#{comment.user.image}", class: "user-icon", size: "50x50", alt: "ユーザー画像"), user_path(comment.user) %>
                </div>
                <% else %>
                <%= link_to image_tag("/assets/human.png", class: "user-icon", size: "50x50", alt: "ユーザー画像"), user_path(comment.user) %>
                <% end %>
                <%= comment.user.name %> 　
                <%= time_ago_in_words(comment.created_at) %>前
                <!--コメント一覧-->
                <h6><%= comment.comment %></h6>

            <% end %>
        </div>
    </div>
</div>

<%= @post.comments.count %>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    クリックしてコメントを全て表示
</button>
<div class="collapse" id="collapseExample">
    <div class="border p-3">
      <% @post.comments.each do |comment| %>
      <!--ユーザー名と画像を表示-->
      <div class="comment_user">
        <% if comment.user.image? %>
        <%= link_to image_tag("#{comment.user.image}", class: "user-icon", size: "50x50", alt: "ユーザー画像"), user_path(comment.user) %>
        <% else %>
              <%= link_to image_tag("/assets/human.png", class: "user-icon", size: "50x50", alt: "ユーザー画像"), user_path(comment.user) %>
        <% end %>
        <%= comment.user.name %> 　
      <%= time_ago_in_words(comment.created_at) %>前
      <!--コメント一覧-->
      <h6><%= comment.comment %></h6>
      </div>
    <% end %>
    </div>
</div>
