   <div class="row">
     <div class="col-sm-12">
         <div class="text-center">
               <% if logged_in? %>
                 <ul class="nav nav-pills nav-justified mb-3">
                     　
                     　<!--フォローしたユーザーの投稿-->
                       <li class="nav-item "><a href="<%= root_url %>" class="nav-link
                       <%= 'active' if current_page?(root_url) %>"><i class="fas fa-home"></i>
                       <span class="badge badge-secondary"></span></a></li>  
                       
                       <!--全ての投稿-->
                       <li class="nav-item "><a href="<%= posts_path %>" class="nav-link
                       <%= 'active' if current_page?(posts_path) %>"><i class="fas fa-grip-horizontal"></i>
                       <span class="badge badge-secondary"></span></a></li>
                  </ul>
                  <%= render 'posts/posts', posts: @posts %>
                  <%= paginate @posts %>
               <% else %>
                <header class="masthead">

                           <div class="masthead-subheading">Welcome To BestBeans!</div>
                           <div class="masthead-heading text-uppercase">美味しいコーヒー豆を紹介しよう</div>
                           <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary ' %>
                           <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %> 

                </header>
                <% end %>
                 </div>
         </div>
   </div>