
<% posts.each do |post| %>
  <div class="row">
    <aside class="col-sm-4">
      <div class="card text-center" style="width: 600px;">
           <!--ユーザー名-->
    	   <div class="card-header">
    	       <%= link_to post.user.name, user_path(post.user) %></div>
    	   <!--投稿内容  -->
    	   <div class="card-body">
    	       <%= post.content %></div>
     	    <!--投稿時間  -->
     	   <div class="card-footer">投稿日時<%= post.created_at %>
     	  
          <!-- いいね登録ボタン -->
     　    <%= render 'favorites/favorite_button', post: post %>
     　    <!-- 編集ボタン -->
     　    <% if current_user == post.user %><%= link_to "編集", edit_post_path(post), class: 'btn btn-dark btn-sm' %><% end %>
          <!--削除ボタン-->
          <% if current_user == post.user %><%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %><% end %>
          </div>
  　 </div>
  　</aside>
  </div>
  <% end %>
  <%= paginate posts %>
