<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card text-center">
				<div class="card-header">
					<!--ユーザー名と画像を表示-->
					<li class="media">
						<% if @post.user.image? %>
						<%= link_to (image_tag "#{@post.user.image}", class: "user-icon", size: "50x50"), user_path(@post.user) %>
						<% else %>
						　 <%= link_to (image_tag "/assets/human.png", class: "user-icon", size: "50x50"), user_path(@post.user) %>
						<% end %>
						<h6><%= @post.user.name %></h6>
					</li>
				</div>
				<div class="card-body">
					<!--投稿画像の表示-->
					<p>
					<%if @post.image? %> 
					<%= image_tag @post.image.url, size: "250x200", alt: "アイコン", class: "post-icon" %>
					<% else %>
					<%= image_tag "/assets/defo.jpg", size: "250x200", alt: "アイコン", class: "post-icon" %>
					<% end %>
					</p>
					<!--投稿内容の表示-->
					<h6><%= @post.content %></h6>
				</div>
				<!--投稿時間  -->
				<div class="card-footer">
					<%= time_ago_in_words(@post.created_at) %>
					<!-- いいね登録ボタン -->
				</div>
			</div>
		</div>
	</div>
</div>  

