	<div class="col-sm-12">
		<div class="card">
			<div class="card text-center">
				<div class="card-header">
					<!--ユーザー名と画像を表示-->
					<div class="media">
						<% if @post.user.image? %>
						<%= link_to image_tag("#{@post.user.image}", class: "user-icon", size: "50x50", alt: "ユーザー画像"), user_path(@post.user) %>
						<% else %>
                  <%= link_to image_tag("/assets/human.png", class: "user-icon", size: "50x50", alt: "ユーザー画像"), user_path(@post.user) %>
						<% end %>
						<h6><%= @post.user.name %></h6>
					</div>
				</div>
				<div class="card-body">
					<!--投稿画像の表示-->
					<p>
					<%if @post.image? %>
					<%= image_tag @post.image.url, size: "250x167", alt: "投稿画像", class: "post-icon" %>
					<% else %>
					<%= image_tag "/assets/defo.jpg", size: "250x167", alt: "投稿画像", class: "post-icon" %>
					<% end %>
					</p>
					<!--投稿内容の表示-->

					<h6><%= safe_join(@post.content.split("\n"),tag(:br)) %></h6>
				</div>
				<!--投稿時間  -->
				<div class="card-footer">
					<%= time_ago_in_words(@post.created_at) %>
					<!-- いいね登録ボタン -->
					<div id="like_post<%= @post.id %>">
					<%= render 'favorites/favorite_button', post: @post %>
					</div>
          <!--コメント-->

					<%= form_with(model:[ @post , @comment ], local:true) do |form| %>
					    <div class="form-group">
					        <p>
					            <%= form.label 'コメント(20文字未満)' %>
					            <%= form.text_area :comment,class: 'form-control' %>
					        </p>
					    </div>
					    <div class="form_action row">
					        <%= form.submit 'コメント投稿',class: 'btn btn-primary' %>
					    </div>
					<% end %>

					<% @post.comments.each do |comment| %>
				   		<p>コメント内容<%= comment.comment %></p>
							<p>コメントユーザー名<%= comment.user.name %>
							<p>コメント日時<%= comment.created_at %>
								<%= time_ago_in_words(comment.created_at) %> 前
					 <% end %>
				 </div>
	    </div>
	</div>
				</div>
			</div>
		</div>
	</div>
